@charset "UTF-8";
.z-index--1 {
  z-index: 1;
}

.text--f18 {
  font-size: 18px;
}

.text--f14 {
  font-size: 14px;
}

.text--f24 {
  font-size: 24px;
}

.transform-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.transform-center, .circle-program::after, .circle-program .circle--inside, .slide--item .slide--content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.font--small {
  font-size: 0.8rem;
}

.font--big {
  font-size: 2.2rem;
}

.fit--img-cover, .fit--img-contain {
  width: 100%;
  height: 100%;
}

.fit--img-cover {
  object-fit: cover;
}

.fit--img-contain {
  object-fit: contain;
}

.text--oline {
  display: block;
}

.c--light-blue {
  color: #1880b6;
}

.bg--light-blue {
  background-color: #1880b6;
}

.bg--light-green {
  background-color: #258f6b;
}

.bg--light-purple {
  background-color: #3e4279;
}

.bg--light-brown {
  background-color: #98713c;
}

.bg--light-white {
  background-color: #ddecf4;
}

.bg--add-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-outline--white {
  border: 0.2rem solid white !important;
}

.width--100 {
  width: 100%;
}

.height--100 {
  height: 100%;
}

.abs-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.full-view {
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 2.5rem;
  transition: all 0.3s ease;
}
.menu--logo {
  margin-right: auto;
  font-weight: 600;
  font-size: 2rem;
}
.menu__search--form {
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 0.2rem 0.8rem;
  background-color: #e9e9e9;
}
.menu__search::before {
  content: "";
  font-family: FontAwesome;
  margin-right: 0.2rem;
}
.menu__lang {
  padding: 0 1rem;
}
.menu__lang .a--lang:hover {
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 6px 6px black;
}
.menu--btn {
  width: 1.8rem;
  height: 1.8rem;
}
.menu--btn span, .menu--btn span::before, .menu--btn span::after {
  width: 100%;
  height: 0.3rem;
  border-radius: 0.2rem;
  background-color: black;
  transition: all 0.3s ease;
  display: inline-block;
  position: relative;
}
.menu--btn span {
  top: 50%;
  transform: translateY(-50%);
}
.menu--btn span::before, .menu--btn span::after {
  content: "";
}
.menu--btn span:before {
  top: -0.7rem;
}
.menu--btn span:after {
  top: 0.4rem;
}
.menu--btn:hover {
  cursor: pointer;
}
.menu--btn.open span {
  transform: rotate(-45deg);
}
.menu--btn.open span::before {
  opacity: 0;
}
.menu--btn.open span::after {
  transform: rotate(-90deg);
  top: -0.3rem;
}

.sub-menu--header {
  position: absolute;
  display: none;
  width: 100%;
  height: 48rem;
  background-color: #1f1f1f;
  top: 0;
  left: 0;
  z-index: 1030;
  margin-top: 4rem;
  transition: all 0.4s ease;
}

.menu-item {
  width: 25%;
  height: 100%;
  margin: 1rem;
  position: relative;
}
.menu-item .menu-item__logo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  margin: auto;
}
.menu-item .menu-item__logo .menu-item__logo--img {
  width: 100%;
  height: 100%;
  object-fit: none;
}
.menu-item .menu-item__text {
  color: white !important;
  font-size: 18px;
  display: block;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 2rem;
  font-weight: 600;
}
.menu-item .menu-item__text:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7) !important;
}
.menu-item .menu--link {
  display: block;
  font-size: 14px;
  color: white !important;
  padding: 1rem 0 1rem 0.5rem;
  border-top: 0.05rem solid rgba(255, 255, 255, 0.5);
  border-bottom: 0.05rem solid rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease;
}
.menu-item .menu--link:hover {
  background: rgba(255, 255, 255, 0.5);
}

.menu-item__logo:hover, .feature-logo:hover {
  box-shadow: 0 0 20px 2px white;
}

.menu-list {
  display: flex;
  flex-direction: row;
  height: 80%;
}

.btn-menu-link {
  width: 100%;
  height: auto;
  border: none;
  text-align: center;
  padding: 0.5rem;
  font-size: 0.8rem;
  background-color: white;
  transition: all 0.2s ease;
}

.btn-menu-link:hover {
  cursor: pointer;
  bottom: 4px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

.slide--container {
  width: 100%;
}

.slide--logo {
  position: relative;
  width: 80%;
  margin: 0.5rem auto;
}
.slide--logo .slide--container {
  width: 80%;
  display: flex;
  flex-direction: row;
}
.slide--logo-item {
  width: 20%;
  height: 3rem;
  margin: 10px;
  position: relative;
  background-color: #b4b4b4;
  display: none;
}
.slide--logo-item.active {
  display: block;
}

.slide {
  height: 70vh;
  position: relative;
}
.slide--notice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 5rem;
  background-color: rgba(56, 141, 112, 0.8);
}
.slide--btn-left, .slide--btn-right {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  padding: 0 0.8rem;
  transform: translateY(-50%);
}
.slide--btn-left {
  left: 1.5rem;
}
.slide--btn-right {
  right: 1.5rem;
}
.slide--item {
  width: 100%;
  height: 100%;
  position: relative;
}
.slide--item .slide--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}
.slide--item .slide--content {
  width: 50%;
  text-align: center;
  color: white;
}
.slide--footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

.intro {
  width: 100%;
  height: 6rem;
}

.heading {
  font-size: 3rem;
  font-weight: 600;
}

.notice {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 2.5rem;
  z-index: 101;
}
.notice--content {
  margin-right: auto;
}
.notice--time {
  margin-right: 1.2rem;
}
.notice--content, .notice--time {
  font-size: 1rem;
  color: white;
  font-weight: 600;
}

.btn--custom {
  min-width: 6.8rem;
  border: none;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.feature {
  display: flex;
  flex-direction: row;
}
.feature--item {
  width: 100%;
  height: 100%;
  position: relative;
}
.feature--item .feature-text {
  position: absolute;
  color: white;
  font-weight: 600;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}
.feature--item .feature-text:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
}
.feature--small {
  width: 20%;
}
.feature--big {
  width: 40%;
}

.feature-logo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -30%);
}
.feature-logo .feature-icon {
  font-size: 1.2rem;
  font-weight: 600;
}
.feature-logo .feature-icon--img {
  width: 100%;
  height: 100%;
  object-fit: none;
}

.advantage {
  height: 70vh;
  width: 100%;
  position: relative;
  margin: 1rem 0;
}
.advantage__bg {
  width: 100%;
  padding: 3rem;
  text-align: center;
}
.advantage__bg img {
  width: 80%;
  height: 80%;
}
.advantage__container {
  width: 100%;
  top: 0;
  left: 50%;
  padding: 1rem;
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
}
.advantage--content {
  width: 60%;
  margin: 3rem auto;
}

.comment {
  width: 70%;
  height: 100%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}
.comment--item {
  width: 20%;
  min-height: 16rem;
  margin: 1rem;
  padding: 1rem;
  border: 0.1rem solid #1880b6;
  background-color: white;
  position: relative;
  display: block;
}
.comment--item::after {
  content: "";
  position: absolute;
  bottom: -1.12rem;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  transform: skew(10deg, 45deg);
  border-right: 0.2rem solid #1880b6;
  border-bottom: 0.2rem solid #1880b6;
  background: linear-gradient(to top left, white, white, transparent);
}

.comment--title, .comment--value, .comment--description {
  display: block;
}

.comment--title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1880b6;
}

.comment--value {
  font-weight: 600;
  color: #1880b6;
  margin-bottom: 1rem;
}

.comment--description {
  font-size: 0.8rem;
}

.btn--rectangle {
  border: none;
  background-color: #1880b6;
  padding: 0.8rem;
  margin: 1rem;
  color: white;
  font-weight: 600;
}

.icon--in-end {
  margin-left: 4rem;
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.grid--box {
  width: 100%;
  height: 50vh;
  margin: 0.5rem 0;
}

.grid--container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.grid--container .grid--left, .grid--container .grid--right {
  width: 50%;
  padding: 4rem;
  position: relative;
  overflow: hidden;
}

.grid--reverse {
  flex-direction: row-reverse;
}

.circle-program {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background-color: #1880b6;
  position: relative;
}
.circle-program .circle--inside {
  width: 55%;
  height: 55%;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 4rem 1rem rgba(0, 0, 0, 0.7);
}

.circle-program::after, .circle-program::before {
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: white;
}

.circle-program::before {
  position: absolute;
  top: 50%;
  transform: rotate(90deg) translateY(-50%);
}

.sub-intro {
  width: 70%;
  height: 10rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sub-intro-item {
  width: 33.33%;
  height: 5rem;
  margin: 0 1rem;
  text-align: center;
  line-height: 5rem;
  background-color: #b4b4b4;
  position: relative;
}

.sub-news {
  width: 100%;
  height: 4rem;
  border-top: 0.1rem solid #98713c;
  border-bottom: 0.1rem solid #98713c;
  line-height: 4rem;
}

.tag-name {
  border: none;
  background-color: #1880b6;
  color: white;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
}

.under-text {
  border-bottom: 0.1rem solid #1880b6;
  color: #1880b6;
  font-weight: 600;
}

.end-page {
  width: 100%;
  height: 4rem;
  background-color: #1880b6;
  line-height: 4rem;
}

.end-line {
  width: 100%;
  height: 1rem;
  background-color: #00a5f0;
}

@media only screen and (max-width: 1024px) {
  .comment {
    width: 100%;
  }
  .comment--item {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .comment {
    width: 100%;
  }
  .comment--item {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}

/*# sourceMappingURL=index.css.map */
