.container {
        padding: 0;
    }
@media only screen and (max-width: 1024px) {

    .comment {
        width: 100%;
        &--item{
            width: 18%;
        }
    }

    .menu-item.collapse {
        display: block;
    }

    .menu-list {
        height: 160px;
    }

    .menu-list-area {
        height: 50%;
    }

    .advantage--content {
        p {
            font-size: 20px;
        }

        h2 {
            margin-bottom: 30px;
        }
    }

    .advantage__container {
        padding: 50px 0 0 0;
    }

    .slide--item {
        .slide--content {
            width: 100%;

            .heading {
                font-size: 40px;
            }

            .sub-heading {
                font-size: 20px;
            }
        }
    }

    .font--big {
        font-size: 34px;
    }
}

@media only screen and (max-width: 768px) {
    h1{
        font-size: 30px;
    }

    .slide--container{
        .slide--notice{
            display: none;
        }
    }
    .menu-item__logo {
        display: none;
    }

    .advantage {
        height: auto;

        &__bg {
            display: none;
        }

        &__container {
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            position: relative;
            left: 0;
            margin-bottom: 30px;
            .btn--rectangle{
                width: 280px;
            }
        }
    }
    .btn--rectangle{
        width: 100%;
    }
    .comment {
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0 16px;
        &--item {
            width: 100%;
            margin: 25px 0;
            min-height: 10rem;
        }
    }
    .grid-area{
        .grid--box{
            padding: 20px;
        }
        .grid--container{
            flex-direction: column;
            .grid--right,
            .grid--left{
                width: 100%;
            }
            .grid--right{
                img{
                    object-fit: unset;
                }
            }
        }
    }
    .grid--container {
        .grid--right,
        .grid--left {
            padding: 10px;
        }
    }

    .transform-middle {
        position: unset;
        top: 0;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    .total-solution {
        padding: 20px 0;

        .grid--box {
            height: auto;
        }

        .solution-container {
            padding: 20px;
        }

        .solution-img {
            padding: 0 0 20px 0;
        }
    }

    .solution {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
        padding: 15px;

        .grid--left,
        .grid--right {
            text-align: center;
            width: 100%;
        }

    }

    .fit--img-cover {
        -o-object-fit: contain;
        object-fit: contain;
    }

    #top {
        border: none;
    }

    .heading {
        font-size: 35px;
    }

    .menu-list-area {
        position: absolute;
        top: 120px;
        right: 0;
        width: 70%;
        height: 70%;

        .menu-item {
            display: none;
        }

        .menu-item.show {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .menu-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        .menu-item {
            opacity: .5;
            border-bottom: 1px solid rgba(white, .5);
        }

        .menu-item.active {
            opacity: 1;
        }
    }

    .slide--item {
        .slide--content {
            width: 100%;
        }
    }
    .menu-list-area{
        display: none;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .sub-heading {
        font-size: 18px;
    }
    .sub-intro, .sub-news, .infomation{
        padding: 0 20px;
    }
    .sub-news{
        height: auto;
        line-height: 2;
        .container{
            flex-direction: column;
            p{
                margin-bottom: 0;
            }
            .text-hidden-50{
                white-space: unset;
                width: 100%;
            }
        }
    }
    .sub-new--2{
        height: auto;
        line-height: 2;
        padding: 0 20px;
        .d-flex{
            flex-direction: column;

        }
    }
    .sub-new--2 + div{
        padding: 0 20px;
    }
}

@media only screen and (max-width: 600px){
    h2 {
        font-size: 25px;
    }
    .head-menu{
        padding: .5rem;
        height: auto;
        .menu--logo{
            a{font-size: 22px;}
        }
        .menu__search{
            .menu__search--form{
                display: none;
                width: 10rem;
            }
        }
        .menu__search:focus > .menu__search--form{
                display: none;
        }
        .menu__lang{
            padding-right: 1rem;
            padding-left: 1rem;
            a:nth-child(1){
                display: none;
            }
        }
        .menu--btn{
            width: 2rem;
            height: 2rem;
            &__ber, &__ber::after, &__ber::before{
                height: .2rem;
            }
            &__ber::after{
                transform: translateY(.5rem);
            }
            &__ber::before{
                transform: translateY(-.5rem);
            }
        }
        .menu--btn:focus{
            border: .1rem solid black;
        }
    }
    .sub-menu-container{
        .menu-list{
            width: 100%;
            height: auto;
            .menu-item{
                width: 100%;
                margin: 0;
            }
        }
        .menu-list-area{
            display: none;
        }
        .menu-list-area.active{
            display: flex;
            width: 100%;
        }
    }
    .menu-item{
        &__text{
            margin-top: 0;
        }
    }
    .sliding{
        .slide--btn-left, .slide--btn-right{
            display: none !important;
        }
        .slide--content{
            h1{
                font-size: 16px;
            }
            .heading{
                font-size: 20px 
            }
            .sub-heading{
                display: none;
            }
        }
        .slide--item{
            .slide--img{
                min-height: 50vh;
            }
        }
    }
    .slide{
        min-height: 70vh;
    }
    .intro{
        height: auto;
    }
    .sub-intro{
        height: auto;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        &-item{
            width: 100%;
            margin-bottom: 5px;
        }
    }
    .feature{
         flex-wrap: wrap;
        height: auto;
        .feature--small, .feature--big{
                width: 50%;
            }
        .feature--item{
            height: 100px;
            .feature-logo{
                width: 4rem;
                height: 4rem;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            .feature-text{
                display: none;
            }
        }
    }
    .advantage--content{
        p{
            padding: 0;
        }
    }
    .text-title--solution{
        font-size: 36px;
    }
    .text-sub-title--solution{
        font-size: 20px;
    }
    .font--small, .text-description--solution{
        font-size: 14px;
    }
    .solution-img{
        width: 100%;
        img{
            width: 100%;
        }
    }

    .grid--box{
        .grid--container{
            min-height: 400px !important;
        }
    }
    
    .infomation{
        .info__num--container{
            padding: 15px 10px;
            .tag-name{
                display: block;
            }
        }
    }
    .client-area{
        padding: 0;
        .slide--logo-item{
            //margin-left: 20%;
            //margin-right: 15%;
        }
    }
}
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1120px;
    }
}


@media only screen and (min-width: 1024px) {
    .menu-item.collapse {
        display: block;
    }

    .menu-list-area {
        height: 50%;
    }

    h1 {
        font-size: 36px;
    }
}

@media only screen and (min-width: 768px) {
    .menu-list-area{
        display: flex;
    }
    
}